body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(1, 90, 1);
    font-family: sans-serif;
    color: white;
}

nav {
    width: 100%;
    color: white;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav span {
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: 3px solid gold;
    font-size: 1.7rem;
}

.shake-animation {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
    0%, 100% { border-color: red; }
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

#currency, #username {
    cursor: default;
}

#username {
    font-size: 1.8rem;
    font-weight: 700;
}

li {
    cursor: pointer;
}

main {
    height: 100vh;
    margin: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

main div {
    text-align: center;
}

.blackjack-home, .slot-home, .dice-home {
    cursor: pointer;
}

.blackjack-img, .dice-img {
    display: flex;
}

.blackjack-img img {
    width: 150px;
    transition: all 0.35s;
}

.blackjack-img img:first-child {
    transform: rotate(-5deg) translate(40%);
    filter: drop-shadow(-10px 0px 35px rgba(255, 255, 0, var(--op)));
}

.blackjack-img img:last-child {
    transform: rotate(5deg) translate(-40%);
    filter: drop-shadow(10px 0px 35px rgba(255, 255, 0, var(--op)));
}

.dice-img img {
    width: 150px;
    transition: all 0.3s;
}

.dice-img img:first-child {
    transform: rotate(-5deg) translate(10%, 20%);
    filter: drop-shadow(0px 0px 50px rgba(255, 255, 0, var(--op)));
}

.dice-img img:last-child {
    transform: rotate(5deg) translate(-10%, 20%);
    filter: drop-shadow(0px 0px 50px rgba(255, 255, 0, var(--op)));
}

.slot-img img {
    width: 250px;
    transition: all 0.3s;
    transform: translate(-10%, -10%);
}

.slot-img img:hover {
    filter: drop-shadow(0px 0px 40px rgba(255, 255, 0, 1));
}


/* .roulette-img img {
    width: 250px;
    transition: all 0.4s, transform 1s cubic-bezier(.68,.92,.33,1.28);
    transform: rotate(var(--roul));
}

.roulette-img img:hover {
    filter: drop-shadow(0px 0px 25px rgba(255, 255, 0, 1));
} */
